@import "../mixins";
@import "../variables";
@import "../extensions";

.titleText {
	color: mix(#fff, #e91e63, 85%);
  font-size: calc(1em + 2vw);
	font-weight: 900;
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
		0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
		0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
		0.015em 0.015em mix(#fff, #e91e63, 64%), 
		0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
		0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
		0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
		0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
}

.mainForm{
  margin: $main-margin * 4;
  border-radius: 2rem;
  padding: 3rem;
  background:#FF7518;
  @include media-max-width() {
    width: 95%;
  }
}

input {
  @include input-placeholder();
  padding-left: 75px;
}

.input {
  @extend .mainInputStyle;
  border: 1px solid #fff;
  margin-top: $main-margin * 2;
}
.JoinBtn {
  @extend .mainInputStyle;
  border: 2px solid $submit-color;
  margin-top: $main-margin * 5;
  font-size: medium;
  color: $submit-color;
  cursor: pointer;
  &:active {
    opacity: 50%;
  }
  &:hover {
    filter: invert(100%);
  }
}

.CreateBtn {
  @extend .mainInputStyle;
  border: 2px solid $submit-color;
  font-size: medium;
  color: $submit-color;
  cursor: pointer;
  &:active {
    opacity: 50%;
  }
  &:hover {
    filter: invert(100%);
  }
}

.icon {
  position: absolute;
  margin-top: $main-margin * 3;
  margin-left: $main-margin * 2;
}